*{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #5E503F;
    color: #F2F4F3;
}

.profile{
    display: flex;
    padding: 30px 0;
}

.profile h1{
    font-size: 40px;
    white-space: nowrap;
}

.menu a{
    text-decoration: none;
    text-align: center;
    color: #F2F4F3;
    font-size: 25px;
    white-space: nowrap;
    font-weight: bold;
}

.menu .active{
    color: black;
    text-decoration: none;
    background-color: #F2F4F3;
    margin-top: -8px;
}

.menu a:hover:not(.active){
    background-color: #d8dbda;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.menu a:visited{
    text-decoration: none;
}

#logo{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

body{
    margin: 0;
    background-color: #F2F4F3;
}

footer{
    background-color: #22333B;
    color: #F2F4F3;
    justify-content: center;
    font-size: large;
}

footer .contact{
    justify-content: center;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #F2F4F3;
    font-size: 20px;
    padding: 10px;
}

.top_footer{
    display: flex;
    padding: 10px;
    height: 200px;
}

.top_footer .line{
    width: 1px;
    min-width: 1px;
    background-color: #F2F4F3;
    height: 150px;
    margin: 25px 0 25px 0;
}

.top_footer #photo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.quote_div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;
}

.author{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.quote{
    font-style: italic;
    font-size: 20px;
    margin-top: 40px;
}

.quote .name_author{
    text-align: right;
    font-style: normal;
}

.bottom_footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #0A0908;
}

@media screen and (min-width: 1200px){
    header{
        height: 130px;
        display: flex;
        justify-content: center;
    }

    .profile{
        min-width: 360px;
    }

    .profile h1{
        padding: 10px 10px 0 20px;
    }

    .menu{
        padding: 80px 10px 0 10px;
        display: flex;
        min-width: 500px;
        width: 40%;

    }

    .menu a{
        padding: 5px;
        width: 25%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }

    footer .contact{
        min-width: 200px;
        padding: 10px 10%;
    }

    .quote_div{
        width: 100%;
    }

    .mobile{
        visibility: hidden;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile h1{
        padding: 0 20px;
    }

    .menu{
        width: 100%;
        justify-content: center;
        display: flex;

    }

    footer .contact{
        width: 100%;
        padding: 10px;
    }

    .menu a{
        padding: 20px;
        width: 25%;
        font-size: 30px;
        border-left: solid #a9927d 1px;
    }

    .menu .active{
        background-color: #a9927d;
        color: #F2F4F3;
        margin: 0;
    }

    .pc{
        display: none;
    }

    .contact{
        text-align: center;
    }

    .contact h2{
        font-size: 35px;
    }

    .mobile{
        display: inline;
    }

    .mobile svg{
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 768px){
    body{
        min-width: 400px;
    }

    .profile{
        display: block;
        text-align: center;
        min-width: none;
    }

    .profile h1{
        padding: 0 20px;
    }

    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-width: none;
    }

    .menu a{
        padding: 20px;
        border-top: solid 1px #a9927d;
    }

    .menu .active{
        background-color: #a9927d;
        color: #F2F4F3;
        margin: 0;
    }

    footer{
        min-width: none;
    }

    .contact{
        text-align: center;
        margin-bottom: 20px;
    }

    .contact h2{
        font-size: 40px;
    }

    .pc{
        display: none;
    }

    .mobile{
        display: inline;
    }

    .mobile svg{
        height: 50px;
        width: 50px;
    }

    .top_footer{
        display: block;
        height: auto;
    }

    .top_footer .line{
        width: auto;
        height: 1px;
        margin: 0 25px 0 25px;
    }
}